* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

/* Establecer una tipografía moderna */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f4f7f9; /* Fondo gris suave */
  color: #333; /* Color de texto oscuro */
  margin: 0;
  padding: 0;
}

/* todos los h1 */
h1 {
  font-size: 1.9rem;
  font-family: "Parkinsans", sans-serif;
  color: #66bb66;
  margin-bottom: 20px;
  text-align: center;
  padding: 10px;
}

h2 {
  font-size: 1.4rem;
    font-family: "Parkinsans", sans-serif;
  color: #f58404;
  margin-bottom: 20px;
}

h3 {
  font-size: 1.2em;
    font-family: "Parkinsans", sans-serif;
  color: #d64a00;
}

section {
  padding: 30px;
}



/* Botones */

.button_success {
  background-color: #ffde59;
  height: 2.5em;
  width: 100%;
  border: 2px solid #fff;
}
.button_success:hover {
  background-color: #f58404;
}

/* GENERAR GRAFICOS */

.graph-section {
  background-color: #fff;
  border: 3px solid #66bb66;
}




/* Footer */
footer {
  background-color: #0099cc ;
  color: #fff;
  text-align: center;
  font-size: 1rem;
  width: 100%;
  margin-top: 100px;
  padding: 10px;
}

.social-icon {
  font-size: 1.2em;
  color: #fff;
}


/* Sección de gráficos */
.graph-container {
  margin: 40px 0;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.graph-container iframe {
  border: none;
  border-radius: 8px;
  margin: 10px;
  max-width: 48%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


/* Estilos para las tabla */

.data-table{
  margin-top: 80px;
}
table {
  width: 90%;
  margin: 20px 5px;
  border-collapse: collapse;
}

th,
td {
  padding: 2px 4px;
  border-bottom: 1px solid #ddd;
}


td{
  font-size: .9em;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}

tr:hover {
  background-color: #f1f1f1;
}

.table-responsive th {
  background-color: #f8a649;
  font-family: "Parkinsans", sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 1em;
  text-align: center;
  padding: 3px 6px;
  border: 1px solid wheat;
}



body > div {
  padding: 30px;
}