<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Inicio - Plataforma de Análisis de Datos</title>

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />

  <!-- Fuentes -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&family=Roboto:wght@100..900&display=swap"
    rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Parkinsans:wght@300..800&display=swap" rel="stylesheet">


  <!-- Font Awesome para iconos -->
  <script src="https://kit.fontawesome.com/7d4a6c3747.js" crossorigin="anonymous"></script>

  <!-- Enlace al archivo CSS de Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">


</head>

<nav class="navbar navbar-expand-lg navbar-light bg-light  fixed-top">
  <a class="navbar-brand" href="#"><img src="/static/images/DATACLARITY.png" width="120px" alt="" /></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Volver al inicio<span class="sr-only">(current)</span></a>
      </li>
    </ul>
  </div>
</nav>

<body>


  
 <!-- Mostrar el primer gráfico si está disponible -->
  {% if graph1 %}
  <div class="graph-result mt-4">
    <h3>Gráfico de Dispersión:</h3>
    <p>Este gráfico muestra cómo las variables seleccionadas están relacionadas. Cada punto representa una observación
      en tu conjunto de datos.</p>
    <div>{{ graph1|safe }}</div>
  </div>
  {% endif %}

  <!--Mostrar el segundo grafico si est disponible-->
  {% if graph2 %}
  <div class="graph-result mt-4">
    <h3> Gráfico de Barras:</h3>
    <p>El gráfico de barras muestra la comparación de valores para las categorías seleccionadas. Es útil para observar
      distribuciones o totales.</p>

    <div>{{ graph2|safe }}</div>
  </div>
  {% endif %}

  <!--    Mostrar el tercer grafico si est disponible -->
  {% if fig_top %}
  <div class="graph-result mt-4">
    <h3>Gráfico de Sectores mas altos de {{y_column}}</h3>
    <p>
      El gráfico de sectores, circular o "torta" es una alternativa al gráfico de barras, permite visualizar las
      cantidades o magnitudes de diversas categorías o variables numéricas. Este tipo de gráfico es ampliamente
      utilizado para representar porcentajes y proporciones.
    </p>
    <div>{{ fig_top|safe }}</div>
  </div>
  {% endif %}


  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <!-- Sección de texto -->
        <div class="col-md-4">
          <p class="mb-0">
            &copy; 2024 DataClarity. Todos los derechos reservados.
          </p>
        </div>
        <!-- Sección de enlaces a redes sociales -->
        <div class="col-md-4 text-md-center">
          <p>Seguinos en nuestras redes!</p>
          <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
          <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
    </div>
  </footer>

  <!-- Bootstrap JS y dependencias de Popper -->
  <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>